.presentation{
    text-align:center;
}

.presentation .divNome{
    width: 700px;    
}

.presentation h1{
    text-align: justify;
    width: 0ch;
    font-size: 45px;

    
    animation: mark .6s step-end infinite, write 6s steps(22, end) infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 6px solid;
}

@keyframes mark {
    50%{
        border-right-color: transparent;
    } 
}

@keyframes  write{
    25%{
        width: 26.5ch;
    }
    50%{
        width: 26.5ch;
    }
    75%{
        width: 0;
    }
    100%{
        width: 0;
    }
}

.presentation div{
    margin: auto;
    width: 80%;
    text-align: justify;
}

@media (min-width:1000px) and (max-width:1550px){
    .presentation p{
        font-size: 14px;
    }
    
}

@media (min-width:700px) and (max-width:999px){
    .presentation h1{
        font-size: 35px; 
    }
}

@media (min-width:500px) and (max-width:699px){
    .presentation h1{
        font-size: 30px; 
    }

    .presentation div{
        width: 450px;
        padding: 20px;
    }
}

@media (min-width:360px) and (max-width:499px){
    .presentation h2{
        font-size: 15px;
        margin-left: 4em;
    }

    .presentation p{
        font-size: 12px;
    }

    .presentation h1{
        font-size: 18px;
        padding-left: 3em;
    }
    
    .presentation{
        width: 90%;
    }

    .presentation div{
        width:90%;
        padding-left: 3em;
    }
}


