.projects{
    text-align: left;
    margin-left: 75px;
    font-size: 30px;
}

.projects .divCards{
    display:grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (min-width:500px) and (max-width:1000px){
    .projects h2{
       font-size: 25px;
       text-align: center;
    }

    .projects{
        margin-left: 55px;
    }

    .projects .divButton{
        text-align: center;
    }
}

@media (min-width:360px) and (max-width:499px){
    .projects{
        margin: 30px;
    }
}



