.projects{
    text-align: left;
    margin-left: 75px;
    font-size: 30px;
}

.projects .divCards{
    margin-right: 50px;
}

@media (min-width:360px) and (max-width:1000px){
    .projects h2{
       font-size: 25px;
    }
}



