.btn{
    background-color:#FFD700;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
}

.btn:hover{
    color:#FFD700 ;
    background-color: transparent;
    transition-duration: 0.5s;
    transform: translateY(-7px);
    border: 1px solid #FFD700; 
}