.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.cards img{
    max-width: 600px;
    border-radius: 20px;
    padding: 0px;
}

.cards img:hover{
    cursor: pointer;
}

.cards section{
    border-radius: 20px;
    width: auto;
    margin: 75px;
    text-align: center;
    padding: 20px;
}